body, html{
    
    color: #000000;
    font-family: 'Roboto', 'Helvetica', 'Arial';
    transition: all 0.4s ease;
    background-color: var(--body-color)!important; 
}

/* ===== Colours ===== */
:root{
  --body-color: #ffffff;
  --nav-color: #ffffff;
  --side-nav: #010718;
  --text-color: rgb(0, 0, 0);
  --text-lista-color: #232d60;
  --search-bar: #F2F2F2;
  --search-text: #010718;
  --text-hero: #000000;
  --login-color: rgb(244,156,53);
  --txt-destaque: rgb(244,156,53);
  --box-shadow:rgba(0,0,0,0.5);
}

body.dark{
  --body-color: #18191A;
  --nav-color: #242526;
  --side-nav: #242526;
  --text-color: #CCC;
  --search-bar: #242526;
  --text-hero: #ffffff;
  --txt-destaque: #FFFFFF;
  --login-color: rgb(244,156,53);
  --text-lista-color: #FFFFFF;
  --box-shadow:rgba(255, 255, 255, 0.327);
}
h1{
    color: var( --text-hero);
}
ol{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
ol li{
    padding: 6px 20px;
    border: 2px solid rgb(244,156,53);
    border-radius: 5px;
    margin: 12px 12px;
}
li a{
    font-weight: 500;
    font-size: 16px;
    color: var(--text-hero);
    
}
ol li:hover{
    background-color: rgb(244,156,53);
    transform: scale(1.1);
}
li a:hover{
    text-decoration: none;
    color: var(--text-hero);
}
