/* ===== Colours ===== */
:root{
    --body-color: #ffffff;
    --nav-color: #ffffff;
    --side-nav: #010718;
    --text-color: rgb(0, 0, 0);
    --text-lista-color: #232d60;
    --search-bar: #F2F2F2;
    --search-text: #010718;
    --text-hero: #000000;
    --login-color: rgb(244,156,53);
    --txt-destaque: rgb(244,156,53);
    --box-shadow:rgba(0,0,0,0.5);
  }
  
  body.dark{
    --body-color: #18191A;
    --nav-color: #242526;
    --side-nav: #242526;
    --text-color: #CCC;
    --search-bar: #242526;
    --text-hero: #ffffff;
    --txt-destaque: #FFFFFF;
    --login-color: rgb(244,156,53);
    --text-lista-color: #FFFFFF;
    --box-shadow:rgba(255, 255, 255, 0.327);
  }

.infoempregador-text{
    color: var(--text-hero);
}

a{
    color: #ffffff !important;
    font-weight: 500;
    text-decoration: none;
}
.btn-content{
    display: flex;
    justify-content: center;
}
#btn-txt{
    background-color:rgb(244,156,53);
    border-radius: 5px;
    padding: 12px 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
#btn-txt:hover{
    transform: scale(1.1);
}
h1{
    color: var(--login-color);
}
.text-valor{
    font-size: 3rem;
    font-weight: 600;
    color: rgb(244,156,53);
}
