.cards{
    width: 100%;
    max-width: 150px;
    height: 200px;
    display: flex;
    align-content: center;
    position: relative;  
    
    
}
.card-cards{
    display: flex;
    justify-content: center;

}
.cards:hover{
    transform: scale(1.1);
}

h1,h3{
    color: var( --text-hero);
}
.topo-cards{
    display: flex;
    justify-content: center;
    
   
}
/*logo das empresas*/
.cards img{
    width: 100%;
    max-width: 150px;
    max-height: 160px;  
    
}
.logo-empresa{
    border: 1px solid #c3c2c2;
}


.span{
    width: 60px;
    height: 30px;
    position: absolute;
    background-color:  rgb(244,156,53);
    border-radius: 5px;
    font-weight: 500;
    right: 1px !important;
    color: #ffffff;
    font-size: 16px;
    right: 2px;
 
}
.info-cards{
    display: flex;
    align-items: baseline;
    justify-content: center;
  
}

.info-cards img{
    max-height: 16px;
    max-width: 16px;
    margin: 0 6px;
}
.info-cards p{
    font-weight: 500;
    color: var( --text-hero);
}
